---
import '@/styles/globals.css'
---

<header class="w-full border-b">
	<div class="container mx-auto px-4 h-16 flex items-center justify-between">
		<a class="flex items-center justify-center" href="/">
			<span class="font-bold text-xl">DE</span>
		</a>
		<nav class="flex gap-4 sm:gap-6">
			<a class="text-sm font-medium hover:underline underline-offset-4" href="/#about">
				About
			</a>
			<a class="text-sm font-medium hover:underline underline-offset-4" href="/#projects">
				Projects
			</a>
			<a class="text-sm font-medium hover:underline underline-offset-4" href="/#contact">
				Contact
			</a>
		</nav>
	</div>
</header>